<div class="row">
    <div class="col-sm-6 col-sm-push-3"> 
        
        <div class="panel panel-primary weather-info" style="margin-top: 15px;">
            <div class="panel-heading">Curent Weather</div>
            <div class="panel-body">
                <div>
                    <div class="row">
                        <div class="col-sm-7" style="border-right: 1px solid #d4d4d4;">
                            <div style="font-size: 1.8em;font-weight: bold;">{{weatherInfo.name}}, {{weatherInfo.sys.country}}</div>
                            
                            <div style="font-size: 1.3em; margin-top:10px;">{{weatherInfo.weather[0].description | titlecase }}</div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div style="float: left;">
                                        <img src="http://openweathermap.org/img/wn/{{weatherInfo.weather[0].icon}}@2x.png" />
                                    </div>
                                    <div style="float: left;">
                                        <span style="font-size: 4em;">{{weatherInfo.main.temp | number: '1.0-0'}}</span>
                                        <span style="font-size: 1.5em;margin-left: 5px;">&#176;C</span>
                                    </div>
                                    <div style="float: left; font-size: 0.9em; padding: 30px 0 0 30px;">
                                        <div>Min: {{weatherInfo.main.temp_min | number: '1.0-0'}} &#176;C</div>
                                        <div>Max: {{weatherInfo.main.temp_max | number: '1.0-0'}} &#176;C</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="" style="color:#eb5e34;padding-top: 5px;font-size: 1.2em;">{{weatherInfo.dt * 1000 | date:'medium'}}</div>
                            <div class="table-reponsive" style="padding-top: 30px;font-size: 1.1em;">
                                <table class="table">
                                    <tr>
                                        <td>
                                            Humidity:
                                        </td>
                                        <td>
                                            {{weatherInfo.main.humidity}}%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Wind:
                                        </td>
                                        <td>
                                            {{weatherInfo.wind.speed * 3.6 | number: '1.0-0'}} km/h
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Pressure:
                                        </td>
                                        <td>
                                            {{weatherInfo.main.pressure}} hPa
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Feels Like:
                                        </td>
                                        <td>
                                            {{weatherInfo.main.feels_like | number: '1.0-0'}} &#176;C 
                                        </td>
                                    </tr>
                                    
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>