<div class="row">
    <div class="col-sm-6 col-sm-push-3"> 
        <div class="input-group">
            <span class="input-group-addon">City</span>
            <input type="text" #cityname placeholder="Enter City Name" class="form-control" [value]="defaultCity" required />
            <div class="input-group-btn">
              <button class="btn btn-success" (click)=getWeather(cityname.value)>
                Search
              </button>
            </div>
            
        </div>
        <div class="text-danger" style="padding-top: 5px;">
            {{errorMessage}}
        </div>
        <div class="panel panel-primary weather-info" style="margin-top: 15px;">
            <div class="panel-heading">Current Weather</div>
            <div class="panel-body">
                <ng-template #loading>Fetching data...</ng-template>
                <div *ngIf="weatherInfo; else loading">
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="font-size: 2em;font-weight: bold;">{{weatherInfo.name}}, {{weatherInfo.sys.country}}</div>
                            <div class="" style="color:#eb5e34;padding-top: 5px;font-size: 1em;">{{ getDateTime(weatherInfo.dt, weatherInfo.timezone) }}</div>
                        </div>
                        <div class="col-md-8" style="margin-top:10px;">
                            <div style="font-size: 1.5em;">{{weatherInfo.weather[0].description | titlecase }}</div>
                            <div class="row" style="margin-top: 0px;">
                                <div class="col-sm-12">
                                    <div style="float: left;">
                                        <img src="http://openweathermap.org/img/wn/{{weatherInfo.weather[0].icon}}@2x.png" />
                                    </div>
                                    <div style="float: left;">
                                        <div style="float: left; font-size: 4em;">{{weatherInfo.main.temp | number: '1.0-0'}}</div>
                                        <div style="float: left; padding-top: 10px; font-size: 1.5em;margin-left: 5px;">&#176;C</div>
                                    </div>
                                    <div class="text-left" style="float: left; font-size: 1em; padding: 30px 0 0 30px;">
                                        <div>Min: {{weatherInfo.main.temp_min | number: '1.0-0'}} &#176;C</div>
                                        <div>Max: {{weatherInfo.main.temp_max | number: '1.0-0'}} &#176;C</div>
                                        <div>Feels Like: {{weatherInfo.main.feels_like | number: '1.0-0'}} &#176;C </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="padding-top: 20px;font-size: 1em;">
                                <div>
                                    Humidity: {{weatherInfo.main.humidity}}%
                                </div>
                                <div>
                                    Wind: {{weatherInfo.wind.speed * 3.6 | number: '1.0-0'}} km/h
                                </div>
                                <div>
                                    Pressure: {{weatherInfo.main.pressure}} hPa
                                </div>
                                <div>
                                    Sunrise: {{getTime(weatherInfo.sys.sunrise, weatherInfo.timezone)}}
                                </div>
                                <div>
                                    Sunset: {{getTime(weatherInfo.sys.sunset, weatherInfo.timezone)}}
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

